<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Title</h1> </br>
	<%= @article.title %> </br>
	<h1>Description</h1> </br>
	<%= @article.description %> </br>
	<%= link_to :edit, edit_article_path(@article) %>
</body>
</html>
