<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Title: <%= @article.title %> </p>
	<p>Description <%= @article.description %> </p> </br>
	<%= link_to :edit, edit_article_path(@article) %>
  <%= link_to :list_articles, articles_path %>
</body>
</html>
